* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#newBookForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#newBookModal {
    display: none;
    position: absolute;
    background-color: rgba(176, 174, 174, 0.824);
    width: 350px;
    height: 400px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bookModalContent {
    width: 75%
}

.formButtons input{
    width: 100px;
    border: none;
    border-radius: 5px;
}


#newBookModal.show {
    display: flex; /* Show the modal when the 'show' class is added */
}

.book {
    background-color: rgb(218, 218, 218);
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;

}