* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #FFF3F0;
}

body {
    font-family: Verdana, sans-serif;
    color: #333
  }

#newBookForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#newBookModal {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.89);
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bookModalContent {
    width: 75%
}

.formButtons input{
    width: 100px;
    border: none;
    border-radius: 5px;
}

.formButtons {
    display: flex;
    gap: 10px
}

#newBookModal.show {
    display: flex; /* Show the modal when the 'show' class is added */
}

.book {
    background-color: rgb(229, 225, 238);
    padding: 10px 15px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

#bookButtonContainer {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 10px;
    place-items: center;
    margin-right: ;
}

.buttons {
    border-style: none;
    padding: 5px 10px;
    border-radius: 8px;
    font-family: Verdana, sans-serif;
}

.buttons:hover {
    filter: brightness(95%)
}

#openModalBtn {
    background-color: rgb(154, 218, 132);
    margin: 10px 10px 0px 10px;
}


#removeButton {
    background-color: #F7717D;
}

#readButton {
    background-color: #7192BE;
}

input[type="text"] {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    padding: 10px; /* Add padding inside the input */
    border: 1px solid #ccc; /* Add a border with a light gray color */
    border-radius: 5px; /* Rounded corners for a softer look */
    background-color: #f8f8f8; /* Light gray background color */
    font-size: 16px; /* Font size for text */
    color: #333; /* Text color */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

/* Style for input box on focus */
input[type="text"]:focus {
    outline: none; /* Remove default focus outline */
    border-color: #007bff; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle shadow on focus */
}